body {
    font-family: 'Arial', sans-serif;
    background-color: #0f0f15; /* Dark background */
    color: #e0e0e0;
    margin: 0;
    padding: 0;
}

header {
    background-color: #111; /* Darker background */
    padding: 20px;
    text-align: center;
    border-bottom: 2px solid #ff79c6; /* Pink underline */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav a {
    color: #ff79c6; /* Neon pink */
    text-decoration: none;
}

.profile {
    text-align: center;
    margin: 20px 0;
}

.profile-pic {
    width: 150px; /* Adjust the size of the profile picture */
    border-radius: 50%;
    border: 2px solid #ff79c6; /* Pink border */
}

.projects {
    padding: 20px;
}

.project {
    margin: 20px 0;
}

.intro-content {
    text-align: center;
    margin: 20px 0;
}

.theme-pic {
    width: 100%; /* Make the theme picture responsive */
    max-width: 600px; /* Limit maximum width */
    margin: 10px 0;
}

.intro-apps-media {
    text-align: center;
    margin: 20px 0;
}

.intro-apps-media img {
    width: 100%; /* Make images responsive */
    max-width: 300px; /* Limit maximum width */
    margin: 10px;
}

video {
    width: 100%; /* Make the video responsive */
    max-width: 600px; /* Limit maximum width */
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #111;
}
